{% if snapshots|length %}
<div class="card-body card-body-no-padding">
  <table class="table">
    <thead>
      <tr>
        <th width="275">{% trans %}Created At{% endtrans %}</th>
        <th>{% trans %}Snapshot Name{% endtrans %}</th>
        <th width="150">{% trans %}Size{% endtrans %}</th>
        <th width="200" class="text-end">{% trans %}Action{% endtrans %}</th>
      </tr>
    </thead>
    <tbody>
    {% for snapshot in snapshots %}
      <tr>
        <td>
          {{ snapshot.createdAt|date('M j, Y H:i:s', user.timezone) }}
        </td>
        <td>
          {{ snapshot.name }}
        </td>
        <td>
          {{ snapshot.diskSizeGb }} GB
        </td>
        <td class="text-end table-actions">
          <a class="delete" href="{{ path('clp_admin_gce_snapshot_delete', {'id': snapshot.id, 'token': csrf_token('gce-snapshot-delete') }) }}" onclick="return confirm('{% trans %}Are you sure?{% endtrans %}')">{% trans %}Delete{% endtrans %}</a>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<div class="card-body">
  {% trans %}No snapshots found.{% endtrans %}
</div>
{% endif %}