[Unit]
Description=clp-agent
After=network-online.target

[Service]
Type=simple
PIDFile=/run/clp-agent.pid
ExecStart=/usr/sbin/clp-agent
Restart=always
RestartSec=3
User=root
Group=root

[Install]
WantedBy=multi-user.target