{% if active is not defined %}
  {% set active = 'settings' %}
{% endif %}
<div class="tab-container">
  <ul>
    <li {% if active == 'settings' %}class="active"{% endif %}>
      <a href="{{ path('clp_user_settings') }}">{% trans %}Settings{% endtrans %}</a>
    </li>
    <li {% if active == 'security' %}class="active"{% endif %}>
      <a href="{{ path('clp_user_security') }}">{% trans %}Security{% endtrans %}</a>
    </li>
  </ul>
</div>