{% if announcement is not empty %}
<div id="announcement-container" class="announcement-container">
  <div class="announcement">
    <a target="_blank" href="{{ announcement.url }}">{{ announcement.subject }}</a>
    <button type="button" id="close-announcement" data-announcement-id="{{ announcement.id }}" class="btn-close btn-close-white btn-close-announcement" aria-label="Close"></button>
  </div>
</div>
{% endif %}